.secondwindow {
  height: 95vh;
  width: 100%;
  background-color: rgb(255, 247, 235);
  position: relative;
  display: block;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}
.iconrowflex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: stretch;
  margin-bottom: 50px;
}

.iconrowflex img {
  max-height: 100px;
}
.rotate270 {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
  margin: 50px;
}

.skillparallaxdisplay {

  height: auto;
  width: 100vw;
}
.skillresponsivedisplay {
  margin-bottom: 5%;
  display: none;
}

@media screen and (max-width: 850px) {
  .skillparallaxdisplay {
    visibility: hidden;
  }
  .skillresponsivedisplay {
    visibility: visible;
  }
  .secondwindow {
    height: auto;
  }
}
