.contactbackground {
  height: 40vh;
  width: 100%;
  color: white;
  margin-bottom: 50px;
}
.underlinebox {
  display: block;
  color: white;
  background-color: white;
  height: 2px;
  width: 60%;
}
.contactmainflex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.fa {
  padding: 20px;
  font-size: 30px;
  max-width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  font-size: 80px;
}

.fa-linkedin {
  height: 58px;
}
.fa-github {
  height: 60px;
}

/* ------------ HERE IS CONTACT FORM CSS ---------------- */

.contactFormFlex {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: center;
  margin-left: 30vw;
  width: 40vw;
  height: auto;
  background-image: url("./ContactForm/react-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: white;
  border-radius: 5vw;

  padding-bottom: 5vh;
  padding-top: 10vh;
}
.contactFormFlex div {
  height: 100%;
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  align-content: stretch;
  position: relative;
}
.contactFormFlex div p {
  margin-left: 10vw;
  margin-right: 0vw;
}
.contactFormFlex div input {
  position: absolute;
  border: 1px solid black;
  left: 60%;
  height: 2vh;
}
.contactFormFlex div textarea {
  position: absolute;
  border: 1px solid black;
  left: 60%;
  height: 3vh;
  width: 50%;
  margin-bottom: 10%;
  resize: none;
}
